<% @record = @page %>
<% @show = !%w[new edit].include?(params[:action]) && @record.valid? %>
<div class="modal-header">
  <%= render "admin/modal/header" %>
</div>
<%= render 'admin/shared/prompt' %>
<div class="modal-body">
  <%= form_for [:admin, @page], :html => {:multipart => true, class: "form-horizontal"} do |f| %>

      <% unless @page.new_record? %>
          <div class="form-group">
            <%= f.label :id, 'ID', {class: 'col-md-3 control-label'} %>
            <div class="form-control-static">
              <strong><%= @record.id %></strong>
            </div>
          </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name, '<sup>*</sup>名称'.html_safe, class: 'col-md-3 control-label' %>
        <div class="col-md-6">
          <% if @show %>
              <div class="form-control-static">
                <strong><%= @record.name %></strong>
              </div>
          <% else %>
              <%= f.text_field :name, {class: 'form-control', required: true} %>
              <span class="note"><%= f.error_message_on :name %></span>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :name, '标签'.html_safe, class: 'col-md-3 control-label ' %>
        <div class="col-md-6">
          <% if @show %>
              <div class="form-control-static">
                <strong><%= @record.name %></strong>
              </div>
          <% else %>
              <%= f.select :tag_list, Cms::Page.all_tags.collect { |p| [p.name, p.name] }, {}, {class: 'form-control select2-tags',width: "100%",multiple: "multiple"} %>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :category_id, '<sup>*</sup>所属栏目'.html_safe, class: 'col-md-3 control-label' %>
        <% if @show %>
            <div class="form-control-static">
              <%= h @page.category.name %>
            </div>
        <% else %>
            <div class="col-md-6">
              <%= f.select :category_id, cms_options_category_select(@page.category_id), {include_blank: false}, {class: 'form-control', required: true} %>
            </div>
        <% end %>
      </div>

      <!--<div class="form-group">-->
      <!--<%#= f.label :template_type, '<sup>*</sup>模板类型'.html_safe, class: 'col-md-3 control-label' %>-->
      <!--<div class="col-md-6">-->
      <!--<%# if @show %>-->
      <!--<div class="form-control-static">-->
      <!--<%#= Cms::Page::TEMPLATE_TYPE[@record.template_type] %>-->
      <!--</div>-->
      <!--<%# else %>-->
      <!--<%#= f.select :template_type, Cms::Page::TEMPLATE_TYPE.invert, {:include_blank => '请选择'}, {class: 'form-control', required: true} %>-->
      <!--<span class="note"><%#= f.error_message_on :template_type %></span>-->
      <!--<%# end %>-->
      <!--</div>-->
      <!--</div>-->

      <div class="form-group">
        <%= f.label :body, '<sup>*</sup>内容'.html_safe, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <% if @show %>
              <div class="form-control-static">
                <%= @page.body %>
              </div>
          <% else %>
              <%= f.text_area :body, {id: 'ueditorContent', required: true} %>
              <span class="note"><%= f.error_message_on :body %></span>
          <% end %>
        </div>
      </div>

      <% unless @page.new_record? %>
          <div class="form-group">
            <%= f.label :created_at, '创建时间', class: 'col-md-3 control-label' %>
            <div class="col-md-6 form-control-static">
              <strong><%= @page.created_at && @page.created_at.to_s(:db) %></strong>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :updated_at, '修改时间', class: 'col-md-3 control-label' %>
            <div class="col-md-6 form-control-static">
              <strong><%= @page.updated_at && @page.updated_at.to_s(:db) %></strong>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :editor, '编辑', class: 'col-md-3 control-label' %>
            <div class="col-md-6 form-control-static">
              <%= link_to_if can?(:show, @page.editor), @page.editor.name, admin_manage_editor_path(@page.editor), "data-target" => "rightPanel" if @page.editor %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :active, '发布', class: 'col-md-3 control-label' %>
            <div class="form-control-static">
              <%= @page.published ? '✔' : '✘' %>
            </div>
          </div>
      <% end %>

      <div class="form-actions">
        <% if @show %>
            <%= link_to '查看', admin_cms_page_path(@page), class: "btn btn-primary", "data-target" => "rightPanel" if can?(:show, @page) %>
            <%= link_to '编辑', edit_admin_cms_page_path(@page), class: "btn btn-primary", "data-target" => "rightPanel" if can?(:update, @page) %>
            <%= link_to '删除', delete_admin_cms_page_path(@page), class: "btn btn-primary", "data-target" => "rightPanel" if can?(:destroy, @page) %>
        <% else %>
            <%= f.submit "提交", class: "btn btn-primary" %>
        <% end %>
      </div>
  <% end %>
</div>

<%= javascript_include_tag "plugins/ueditor/ueditor.all" %>
<script type="text/javascript">
    $(function () {
        if ($('#ueditorContent').length > 0) {
            var newEditor = UE.getEditor("ueditorContent", {
                autoFloatEnabled: true,
                initialFrameWidth: "100%",
                initialFrameHeight: 500
            });
        }
        $(".select2-tags").select2({
            tags: true,
            tokenSeparators: [',', ' ']
        })
    })
</script>
