<% content_for :show_content do %>
    <div class="user-set userset-lcol">
      <span class="top_line"></span>
      <%= form_for @account, as: 'account', url: "/accounts/#{@account.id}.json", html: {method: 'put', class: 'form', remote: true} do |f| %>
          <div class="item old_password_field">
            <span class="label">当前密码：</span>

            <div class="fl">
              <%= password_field_tag "account[old_password]", '', class: 'itxt' %>
              <div class="clr"></div>
              <div class="error old_password_error" id="old_password_error">
                <em class="error_icon"></em>当前密码输入不正确
              </div>
            </div>
          </div>
          <div class="item password_field">
            <span class="label">新密码：</span>

            <div class="fl">
              <%= f.password_field :password, class: 'itxt' %>
              <div class="clr"></div>
              <div class="error password_error" id="blank_error">
                <em class="error_icon"></em>不能少于六位
              </div>
              <div class="error password_error" id="password_eq_error">
                <em class="error_icon"></em>新密码与旧密码相同
              </div>
            </div>
          </div>

          <div class="item password_confirmation_field">
            <span class="label">确认新密码：</span>

            <div class="fl">
              <%= f.password_field :password_confirmation, class: 'itxt' %>
              <div class="clr"></div>
              <div class="error password_confirm_error" id="blank_error">
                <em class="error_icon"></em>不能少于六位
              </div>
              <div class="error password_confirm_error" id="password_confirm_error">
                <em class="error_icon"></em>你输入确认的密码不同
              </div>
            </div>
          </div>

          <div class="item">
            <span class="label">&nbsp;</span>

            <div class="fl">
              <%= f.submit '提交', class: 'btn brown' %>
              <div class="clr"></div>
            </div>
          </div>
      <% end %>
    </div>
    <script type="text/javascript">
        $("#edit_account").on("ajax:before", function () {
            $(this).find(".error").hide();
            var old_password = $.trim($(".old_password_field input").val());
            var password = $.trim($(".password_field input").val());
            var password_confirmation = $.trim($(".password_confirmation_field input").val());
            var valid = true;
            if (password.length < 6) {
                valid = false;
                $(".password_field #blank_error").show();
            }
            if (old_password == password) {
                valid = false
                $("#password_eq_error").show();
            }
            if (old_password == password) {
                valid = false
                $("#password_confirm_error").show();
            }
            if (password_confirmation.length < 6) {
                $(".password_confirmation_field #blank_error").show();
                valid = false
            }
            return valid;
        }).on("ajax:success", function (event, data) {
            if (data.error) {
                if (data.error.code == "106") {
                    $(".old_password_field .error").show()
                }
            } else {
                $(this).get(0).reset();
                alert("密码修改成功")
            }
        })
    </script>
<% end %>
<%= render template: 'home/users/show_layout', locals: {user_info: {key: 'password', value: '修改密码'}} %>
