= stylesheet_inline_tag "custom_page/pages/series_a5/#{data['theme']}.css" unless data['theme'].blank?
-# stylesheet_inline_tag "custom_page/pages/series_a5/#{data['arrange']}.css" unless data['arrange'].blank?
- flash = request.fullpath.match(/\?flash$/)
.seriesbox.series_a5.slides(data-options='{ "effect": "fade", "fadeSpeed": 500, "play": 100000 }' style="margin-bottom: #{v = (data['style']||{})['margin-bottom']; v.blank? ? 12 : v}px;")
  .dividing_line_960
  .navlist
    %ul.slides_pagination
      - data['sections'].each_with_index do |section, index|
        %li
          %a.link(href="##{index}")= h section['name'].blank? ? index : section['name']
  .product_mod.slides_container
    - data['sections'].each_with_index do |section, index|
      .product_list(class="widget" data-widget-id="large_widget_#{page.id}")
        - section['products'].each do |p|
          - product = Shop::Product.where(id: p['id']).first_or_initialize
          = link_to flash ? "/index.html#subapp=productGrid&category2_id=#{product.category2_id}&keyword=&extid=#{product.id}" : product, :class => 'link' do
            %h3.title= p['title']
            = image_tag("#{product.major_pic}.m420.jpg", :alt => '', :class => 'pic')
            .linktext
              .summary
                %span= h product.brand.try(:name)
                %em= h product.name.to_s.gsub(product.brand.try(:name).to_s.strip, '').gsub(product.brand.try(:chinese).to_s.strip, '')
              .value
                .MarketPrice
                  %em ￥
                  %span= product.price
                .WeimallPrice
                  %em ￥
                  %span=product.discount
        %a.morelink(href="#{section['more']}" target="_blank" class="widget" data-widget-id="more_widget_#{page.id}")
          %span 更多
  = render :partial => 'admin/custom_page/pages/series_preview', :locals => { :data => data,:page=>page }
